---
layout: default
---
<div class="container main-gradient">
  <div class="card center-vh">
    <div class="card-body">
      <header>
        <h1 class="name">{{ site.entity.first_name }}<span class="t-light">{{ site.entity.last_name }}.</span>
        </h1>
      </header>
      <main>
        <p class="t-light">
          A female human from Bangalore, India - ❤s Javascript, video-games &amp; music. Employed at
          <a class="nekkid" href="https://cleartax.in"
            title="Free Income Tax efiling in India: ClearTax | Upload your Form-16 to e-File Income Tax Returns">clearTax.in</a>. Goes by
          <a class="nekkid" href="{{ site.social.twitter }}">@rheaditi</a> on the interwebs.
        </p>
        {% include components/social_icons.html %}
      </main>
    </div>
  </div>
</div>
{% include components/hidden_content.html %}