{% assign persona = site.data.persona %}
{% assign social = site.data.social %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "{{ persona.name }}",
    "givenName": "{{ persona.first_name }}",
    "additionalName": "{{ persona.middle_name }}",
    "familyName": "{{ persona.middle_name }}",
    "alternateName": "{{ persona.alternate_name }}",
    "gender": "{{ persona.gender }}",
    "birthDate": "{{ persona.birth_date }}",
    "url": "{{ "/" | prepend: site.baseurl }}",
    "worksFor": {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "https://cleartax.in/"
    },
    "workLocation": { 
      "@type": "City",
      "name": "Bangalore"
    },
    "jobTitle": "{{ persona.job_title }}",
    "sameAs": [
    {% for social_item in social %}
    "{{ social_item.url }}"{% unless forloop.last == true %},{% endunless %}
    {% endfor %}
    ],
    "alumniOf": "{{ persona.alumni_of }}"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ page.url | prepend: site.baseurl }}",
    "name": "{{ site.title }}",
    "author": {
      "@type": "Person",
      "name": "{{ persona.name }}"
    }
  }
</script>
