.main-gradient {
  background-color: $bg-gradient-end;
}

h1.name {
  text-transform: lowercase;
  font-weight: $font-weight-regular;
  color: $primary;
  position: relative;
  margin-top: 0;
}

.card {
  background-color: #fff;
  width: 600px;
  max-width: 95%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  .card-body,
  .card-footer {
    padding: 54px 40px;
  }
}

.social {
  padding: 0;
  margin: 0;

  li,
  a {
    display: inline-block;
    line-height: 1;
    margin-right: 5px;
  }

  li a {
    border: none;
    text-transform: uppercase;
    font-size: 0.65em;
    background-color: $bg-gray;
    padding: 6px 10px;
    border-radius: 3px;
    transition: transform 0.15s ease-out;
  }

  li a:hover {
    transform: translateY(-2px);
  }
}
