.m0, .mt0 {
  margin-top: 0;
}

.m0, .mb0 {
  margin-bottom: 0;
}

.m10, .mt10 {
  margin-top: 10px;
}

.m10, .mb10 {
  margin-bottom: 10px;
}

.w-light {
  font-weight: 200;
}

.t-center {
  text-align: center;
}

.t-light {
  color: lighten($color: $text-black, $amount: 20%);
}

.card {
  background-color: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
}

.card.pink-top {
  position: relative;
  &::before {
    background: linear-gradient(to right, $hotpink, adjust-hue($color: $hotpink, $degrees: 90), adjust-hue($color: $hotpink, $degrees: 180));
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
    top: -2px;
  }
}

.card-content {
  padding: 30px;
}

