$font-weight-light    : 300;
$font-weight-regular  : 400;
$font-weight-semibold : 400;

$base-font-size     : 18px;
$base-line-height   : 1.5;
$base-scale-factor  : 1.333;
$c-line-height: $base-font-size * $base-line-height; /* Computed Line Height for margins, etc */

$default-font-weight: $font-weight-regular;
$default-font-stack: Helvetica, Arial, sans-serif;
$rubik-font-stack: 'Rubik', Helvetica, Arial, sans-serif;
$exo-font-stack: 'Exo 2', Helvetica, Arial, sans-serif;

$text-dark         : #4c4785;
$text-default      : #5b568f;
$text-light        : #706c93;
$bg-gray           : #efeff7;

$primary           : #5a50c7;
$bg-gradient-start : #5a50c7;
$bg-gradient-end   : #5a50c7;

$default-font-color: $text-default;

