.card {
  @extend .theme-light;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  overflow: hidden;
}

.card-body, .card-footer {
  padding: 40px;
}

.card-body + .card-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: darken($light-gray, 6%);
}
