<!DOCTYPE html>
<html ⚡ lang="en">
<head>
{% include head.html %}
{% contentblock head_end %}
</head>
<body class="{% unless page.no_nav %}body-nav-offset{% endunless %}{{ page.body_classes }}">
{% contentblock body_start %}
<header>
  {% unless page.no_nav %}{% include components/navbar.html %}{% endunless %}
  {% contentblock header %}
</header>
<main>{{ content }}</main>
{% unless page.no_footer %}{% include components/footer.html %}{% endunless %}
{% contentblock body_end %}
</body>
</html>
